<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>IT 112 Flask Application</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>


<div class="">
 <h1>About Me!</h1>
 <p>Hello, my name is Sebastian Linhart! I am 20 years old and a first-year student at Seattle Central Community College. I am currently studying Web development and looking to receive my AA to then transfer to the University of Washington. I have a small background in programming and a larger background in graphic and visual design. After graduating high school I took a gap year to continue working, in less than a year and a half I was assistant manager for a store and was offered the manager position but turned it down to start back on my education track. I look forward to continuing my education here at Seattle Central Community College.
</p>
 <p>Some of my many interests include Dungeons and Dragons, Movies, Video games, Art, Archery, and Soccer. Many of these interests have been a part of me for my entire life and have shaped me into the person I am today. I’m the youngest in a family of 5 and have a beautiful German Shepherd-Doberman Mix puppy. I am very much a family and friend-oriented person.</p>
</div>

</body>
</html>