<!DOCTYPE html>
<html lang = "en">
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
{% block content %}
    <h1 class="title">{% block title %} Games {% endblock %}</h1>
    <div class="content">
        {% for game in games %}
            <div class="Game">
                <table style="width:50%">
                  <tr>
                    <th style="width:25%">ID</th>
                    <th style="width:25%">Game</th>
                    <th style="width:25%">Creator</th>
                    <th style="width:25%">Genre</th>
                  </tr>
                  <tr>
                    <td>{{ game.id }}</td>
                    <td><a href="{{ url_for('game', game_id=game.id)}}"><link>{{ game.name }}</link></a></td>
                    <td>{{ game.creator }}</td>
                    <td>{{ game.genre }}</td>
                  </tr>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</html>